extends ../_list.pug

block panel_master
  | {% if protocol %}
  div(class="panel panel-primary")
    .panel-heading
      h4.panel-title {{ protocol }}
    div
      div(class="well well-sm")
        | &nbsp;
        a(href="{{ url_for('edit_protocol', protocol_id=protocol.id) }}", class="btn btn-sm btn-primary", datat-toggle="tooltip", title="Редактировать")
          i(class="fa fa-edit")
        
        .pull-right
          a(href="{{ url_for('edit_case', case_id=protocol.case_id) }}") {{protocol.case}}
    .panel-body
      | {% if protocol.description %}
      | {{ protocol.description }}
      | {% else %}
      | <strong>Решений:</strong> {{ items.total}}
      | {% endif %}
  | {% endif %}

block table_headers
  // | Решения
  thead
    tr
      th(class="col-md-1 col-lg1 col-sm-1")
      th(style="width: 125px;")
        | {%if order_id==1%}
        a(href="?order=1{% if not desc %}&desc={{desc}}{% endif %}") 
          | Решение №
          i(class="fa fa-chevron-{% if desc %}up{% else %}down{% endif %} pull-right")
        | {%else%}
        a(href="?order=1") 
          | Решение № 
          i(class="fa fa-arrows-v pull-right")
        | {%endif%}
      th(style="width: 100px;")
        | {%if order_id==2%}
        a(href="?order=2{% if not desc %}&desc={{desc}}{% endif %}") 
          | Дата 
          i(class="fa fa-chevron-{% if desc %}up{% else %}down{% endif %} pull-right")
        | {%else%}
        a(href="?order=2") 
          | Дата 
          i(class="fa fa-arrows-v pull-right")
        | {%endif%}
      th
        | {%if order_id==3%}
        a(href="?order=3{% if not desc %}&desc={{desc}}{% endif %}") 
          | Тема
          i(class="fa fa-chevron-{% if desc %}up{% else %}down{% endif %} pull-right")
        | {%else%}
        a(href="?order=3") 
          | Тема 
          i(class="fa fa-arrows-v pull-right")
        | {%endif%}
      th(style="width: 225px;")
        | {%if order_id==4%}
        a(href="?order=4{% if not desc %}&desc={{desc}}{% endif %}") 
          | Протокол 
          i(class="fa fa-chevron-{% if desc %}up{% else %}down{% endif %} pull-right")
        | {%else%}
        a(href="?order=4") 
          | Протокол
          i(class="fa fa-arrows-v pull-right")
        | {%endif%}

block row_data
  td
    center
      div(class="btn-group btn-group-xs")
        a(href="{{ url_for('list_resolutions', decision_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Просмотреть")
          i(class="fa fa-search")
        a(href="{{ url_for('edit_decision', decision_id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
          i(class="fa fa-edit")
        a(data-href="{{ url_for('del_decision', decision_id=i.id) }}", class="btn btn-sm btn-primary confirm" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
          i(class="fa fa-eraser")
  td {{ i.decision_id }}  
  td {{ i.date|formatdate|safe }}
  td {{ i.topic }}  
  td 
    | {% if i.protocol %}
    a(href="{{ url_for('list_decisions', protocol_id=i.protocol.id) }}") {{ i.protocol }}  
    | {% else %}
    strong Решение не привязано к протоколу
    | {% endif %}
