mixin panel(title, edit, filtered, paged)
  div(class="panel panel-primary")
    .panel-heading
      h4.panel-title= title
    if filtered
      | {% if add %}
      .panel-group#accordion1
        div(class="panel panel-default")
          .panel-heading
            h4.panel-title 
              a(class="acordion-toggle", href="#accordion1_href", data-toggle="collapse", data-parent="#accordion1") Поиск <span class="caret"></span>
          div(id="accordion1_href", class="panel-collapse collapse")
            div(class="panel-body")
              include _filter.pug
      | {% endif %}
    if edit
      div(class="well well-sm")
        | &nbsp;
        a(href=edit, class="btn btn-sm btn-primary", datat-toggle="tooltip", title="Редактировать")
          i(class="fa fa-edit")
        | &nbsp;
        a(data-href="{{ url_for('edit_case', case_id=case.id) }}", class="btn btn-sm btn-primary confirm" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
          i(class="fa fa-eraser")
          
    if paged
      | {% if items %}
      div(class="well well-sm")
        include _pagination.pug
        | &nbsp;
        a(href="{{ add }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i>

        .pull-right
          strong Количество: 
          | {{ items.total }}
      | {% endif %}
    
    if block
      block

