extends index.pug

block content
  #confirm-del(class="modal fade", tabindex=-1, role="dialog")
    .modal-dialog
      .modal-content
        .modal-header Вы уверены?
        .modal-body ...
        .modal-footer
          button(type="button", class="btn btn-default", data-dismiss="modal") Отменить
          a(class="btn btn-default btn-danger btn-ok") Удалить

  div(class="panel panel-primary")
    .panel-heading
      h4.panel-title 
        block panel_head
          | {{ title }}
    | {% if add %}
    .panel-group#accordion1
      div(class="panel panel-default")
        .panel-heading
          h4.panel-title 
            a(class="acordion-toggle", href="#accordion1_href", data-toggle="collapse", data-parent="#accordion1") Поиск <span class="caret"></span>
        div(id="accordion1_href", class="panel-collapse collapse")
          div(class="panel-body")
            form(id="filter_form", class="form-search", method="get")
              .btn-group
                button(type="button", class="btn btn-default dropdown-toggle", data-toggle="dropdown") Добавить Фильтр <span class="caret"></span>
                ul.dropdown-menu
                  li
                    a(href="#", name="protocol", class"filter btn") Протокол
                  li
                    a(href="#", name="record", class"filter btn") Опись
                  li
                    a(href="#", name="case", class"filter btn") Дело
              table(class="table table-responsive table-hover filters")
              button(type="submit", class="btn btn-sm btn-primary") <span class="glyphicon glyphicon-plus"></span> Искать <i class="fa fa-search"></i>
               
    | {% endif %}
    div
      div(class="well well-sm")
        | &nbsp;
        | &nbsp;
        a(href="#", class="btn btn-sm btn-primary") <i class="fa fa-arrow-left"></i>
        | &nbsp;
        a(href="{{ add }}", class="btn btn-default") <span class="glyphicon glyphicon-plus"></span> Добавить
        | &nbsp;
        a(href="{{ add }}", class="btn btn-default") <span class="glyphicon glyphicon-edit"></span> Добавить
        .pull-right
          strong Количество: 
          | {{ items | count }}
      | {% if items %}
      .table-responsive
        table(class="table table-bordered table-hover")
          thead
            tr
              th(class="col-md-1 col-lg1 col-sm-1")
              | {% for h in headers %}
              th
                | {%if order_id==loop.index%}
                | {%if desc%}
                a(href="?order={{loop.index}}&desc=") 
                  | {{h}} 
                  i(class="fa fa-chevron-up pull-right")
                | {%else%}
                a(href="?order={{loop.index}}&desc=1") 
                  | {{h}} 
                  i(class="fa fa-chevron-down pull-right")
                | {%endif%}
                | {%else%}
                a(href="?order={{loop.index}}") 
                  | {{h}} 
                  i(class="fa fa-arrows-v pull-right")
                | {%endif%}
              | {% endfor %}
          tbody
            | {% for i in items %}
            tr
              td
                center
                  div(class="btn-group btn-group-xs")
                    a(href="{{i.links.show}}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Просмотреть")
                      i(class="fa fa-search")
                    a(href="{{i.links.edit}}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
                      i(class="fa fa-edit")
                    a(data-href="{{i.links.del}}", class="btn btn-sm btn-primary confirm" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
                      i(class="fa fa-eraser")

              | {% for e in i.cols %}
              td {{ e }}  
              | {% endfor %}
            | {% endfor %}
      | {% else %}
      h3 Список пуст
      | {% endif %}

block script
  script(language="javascript").
    $('#confirm-del').on('show.bs.modal', function(e) {
      $(this).find('.modal-body').html($(e.relatedTarget).data('text'));
      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
  | {% block script %}{% endblock %}
